
PaypalBuddy/.vs/PaypalBuddy/v16/.suo
PaypalBuddy/.vs/PaypalBuddy/v16/Server/sqlite3/db.lock
PaypalBuddy/.vs/PaypalBuddy/v16/Server/sqlite3/storage.ide
PaypalBuddy/PaypalBuddy/obj/Debug/DesignTimeResolveAssemblyReferences.cache
PaypalBuddy/PaypalBuddy/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PaypalBuddy/PaypalBuddy/obj/Debug/PaypalBuddy.csprojAssemblyReference.cache
